{% extends "Agent/main_layout.html" %}

    {% block content %}

      <div class="home-content">
    <body>
      <div class="container-fluid">
          <div class="table-wrapper">
              <div class="table-title">
                  <div class="row">
                      <div class="col-sm-6">
              <h2>Agent <b>Home</b></h2>
            </div>
            
                  </div>
              </div>

   <!--loader-->

   <!-- <div class="loading-screen" id="loading-screen">
    <span class="loader"></span>
</div> -->
<!--end loader-->




<!--content-->
             
        
      </div>
  </body>
  </html>

  {% endblock content %}
    </section>






    
