{% extends "admin/main_app/main_layout.html" %}

{% block content %}

  <html>
    <body>
        <div class="home-content"  style="height: max-content;">
        
    {% comment %}      <ul class="messages">
            {% for message in messages %}
                <li id="myDiv" {% if message.tags %} class="{{ message.tags }}"{% endif %}><div class="row m-auto w-25" style="position: absolute;height: 3rem;padding-top: 1rem;padding-left: 3rem;left: 26rem;background-color: rgba(10, 230, 10, 0.498);"><b>SuccessFully Added</b></div></li>
            {% endfor %}
          </ul>

          <!--loader-->

          <div class="loading-screen" id="loading-screen">
            <span class="loader"></span>
          </div>
          <!--end loader-->

          <!--<div class="row m-auto bg-success w-25" style="position: absolute;height: 3rem;padding-top: 1rem;padding-left: 3rem;left: 26rem;"><b>SuccessFully Added</b></div>-->
          <div class="container-fluid" >
            <div class="table-wrapper" style="overflow-y: auto; max-height: 1000px;">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-4">
                          <h2>Order <b>Details</b></h2>
                        </div>
                    </div>
                </div>
           
                  <div id="table-container" style="overflow:auto;" class="bg-white mt-3 shadow p-3">

                    <div class="row"> 

                      <div class="col-sm-6 mb-2"> 
                        <div class="dropdown">
                          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Show {{ request.GET.paginate_by }}
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="?paginate_by=2&{{paginate_parameter}}">2</a>
                            <a class="dropdown-item" href="?paginate_by=3&{{paginate_parameter}}">3</a>
                            <a class="dropdown-item" href="?paginate_by=10&{{paginate_parameter}}">10</a>
                          </div>
                        </div>
                      
                      </div>
                      <div class="col-sm-6">
                                  <form class="p-0 serbox" style="float: right;">
                                    <div class="input-group">
                                      <input type="text" class="form-control" placeholder="Search here.." aria-label="Username" aria-describedby="basic-addon1">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text bg-transparent ml-1" id="basic-addon1"><i class='bx bx-search-alt-2'></i></span>
                                      </div>
                                    </div>
                                  </form>
                                </div>
                                </div> 

                    <table class="table table-striped table-hover tabfont">
                        <thead>
                          <tr>
                            {% comment %} <th>
                              <span class="custom-checkbox">
                                <input type="checkbox" id="selectAll">
                                <label for="selectAll"></label>
                              </span>
                            </th> {% endcomment %}
                            <!-- {% for field in field_names %}
                              <th>{{field}}</th>
                            {% endfor %} -->
                            <th>No.</th>
                            <th>username</th>
                            <th>Number</th>
                            <th>Email</th>
                            <th>Service</th>
                            <th>Payment</th>
                            <th>User Query</th>
                            <th>Applied at</th>                           
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for val in order_info %}
                          <tr class="bg-white">
                              {% comment %} <td>
                                <span class="custom-checkbox-{{forloop.counter}}">
                                  <input type="checkbox" id="checkbox1" name="options[]" value="1">
                                  <label for="checkbox1"></label>
                                </span>
                              </td>      {% endcomment %}
                              <td>{{ start_index|add:forloop.counter0 }}</td>                         
                              <td><a href="{% url 'task_detail' id=val.id %}">{{val.user_id.first_name}}</a></td>
                              <td>{{val.user_id.phone_number}}</td>
                              <td>{{val.user_id.email}}</td>
                              <td>{{val.service}}</td>
                              <td>{% if val.payment %} Complete {% else %} Pending {% endif %}</td>
                              <td>{{val.msg}}</td>
                              <td>{{val.created_at|date:"d-n-Y H:i"}}</td>
                               
                               
                              <td>                          
                                {% if start_index|add:forloop.counter0 == 1 %}
                                  <a href="{% url 'select_task' id=val.id %}" ><i  class='btn btn-success' class="material-icons " data-toggle="tooltip" title="Edit">Select</i></a>
                                {% endif %}
                              </td>     
                            </tr>

                          {% endfor %}

                        </tbody>
                      </table>

                  <!-- pagination starts -->  

                  <div class="clearfix">
                    <div class="hint-text">Showing <b>{{order_info.number}}</b> out of <b>{{order_info.paginator.num_pages}}</b> Pages</div>
                    <ul class="pagination flex-wrap ">
                      <li class="page-item disabled">
                        {% if order_info.has_previous %}
                          <li class="page-item">
                            <a class="page-link" href="{{ request.path }}?page={{ order_info.previous_page_number }}&{{page_parameter}}">⇇</a>
                          </li>
                        {% endif %}
                        {% if order_info.number > 3 %}
                          <li class="page-item">
                            <a class="page-link" href="{{ request.path }}?page=1&{{page_parameter}}">1</a>
                          </li>
                        {% endif %}
                        {% if order_info.number > 4 %}
                            <li class="page-item">
                            <span class="page-link">....</span>
                            </li>
                        {% endif %}
                      </li>
        
                      {% for i in order_info.paginator.page_range %}
                        {% if order_info.number == i %}
                          <li class="page-item active">
                            <span class="page-link">
                              {{ i }}
                              <span class="sr-only"></span>
                            </span>
                          </li>
                          {% elif i > order_info.number|add:'-3' and i < order_info.number|add:'3' %}
                            <li class="page-item">
                              <a class="page-link" href="{{ request.path }}?page={{ i }}&{{page_parameter}}">{{ i }}</a>
                            </li>
                        {% endif %}
                      {% endfor %}
        
                      {% if order_info.has_next %}
                        {% if order_info.number < order_info.paginator.num_pages|add:'-3' %}
                            <li class="page-item">
                                <span class="page-link">....</span>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ order_info.paginator.num_pages }}&{{page_parameter}}">{{ order_info.paginator.num_pages }}</a>
                            </li>
                        {% elif order_info.number < order_info.paginator.num_pages|add:'-2' %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ order_info.paginator.num_pages }}&{{page_parameter}}">{{ order_info.paginator.num_pages }}</a>
                            </li>
                        {% endif %}  
                        <li class="page-item">
                          <a class="page-link" href="?page={{ order_info.next_page_number }}&{{page_parameter}}"> ⇉</a>
                        </li>
                      {% endif %}
                    </ul>
                  </div>
                  <!-- pagination end -->

                </div>
                
            </div>
        </div>
      </div>           
    </body>
  </html>

  {% endblock content %}
    








  
   



    


