{% extends "admin/main_app/main_layout.html" %}
    {% block content %}

    
{% comment %} <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> {% endcomment %}
<!-- Include the above in your HEAD tag -->

<style>

.userinfo{
    background-color: white;
    border-radius: 12px;
     box-shadow: 5px -5px 5px rgba(0, 0, 0, 0.3);
}
.userinfo input{
border-radius: 8px;
height: 40%;
}
.docu{
    background-color: white;
    border-radius: 12px;
    box-shadow: 5px -5px 5px rgba(0, 0, 0, 0.3);
    
   
}
.date{
    font-size: .9rem;
}
.docu table{
    border-radius: 8px;
    width: 100%;
   
}

.info-container {
      display: flex;
      justify-content: space-between;
      padding: 10px;
     
    }
  .datess{
    color: #555;
  }  
</style>
{% load static %}
<div class="home-content">
    <div class="container-fluid">
      <h2 class="text-center">User Info</h2>

<hr>
        <!--USER DETAILS-->
<div class="row">
    <div class="col-md-6 mt-3 mr-md-4 ml-md-4 userinfo">
        <h4 class="text-center my-3">User Details </h4>
        <div class="row d-flex justify-content-center">
            <div class="col-5">Firstname : <input type="text" value="{{user_details.first_name}}" readonly></div>
            <div class="col-5">Lastname : <input type="text" value="{{user_details.last_name}}"  readonly></div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-5">Email : <input type="text" value="{{user_details.email}}"  readonly></div>
        <div class="col-5">Ph number : <input type="text" value="{{user_details.phone_number}}"  readonly></div>
</div>
<div class="row d-flex justify-content-center">
    <div class="col-5 text-center">Service  <input type="text" class="text-center" value="{{task.service}}"  readonly></div>
    
</div>

<div class="info-container">
    <div class="name">Payment : <i class='bx bxs-check-shield text-success'></i></div>
    <div class="datess">Date : {{task.created_at|date:"M. d, Y"}}</div>
  </div>

    </div>
    <!--DOCUMENTS-->
    <div class="col-md-5 mt-3 docu">
        <h4 class="my-3 text-center">Documents</h4>
       
        <table class="m-auto">
            <tr>
            <th>Image</th>
            <th class="w-50">Name</th>
            <th class="w-100">Date</th>
            <th>Verify</th>
        </tr>
        {% for key,val in task.documents.items %}
            <tr>
               <td> <img class="img-fluid" src="{% static 'docu_img' %}/{{val}}"/> </td>
               <td class="date"> {{key}} </td>
               <td class="date">  {{task.created_at}} </td>
               <td class="text-center text-success"> <i class='bx bxs-check-shield'></i> </td>
            </tr>
         
           
            {% endfor %}
        </table>
      
    </div>
</div>



<div class="row text-center mt-4 d-flex justify-content-center">            
    <div class="col-md-2 mb-4">

{% if request.user.user_type|stringformat:"s" == "1" %}
        <a href="#assignModal" class="btn btn-success" data-toggle="modal"><i class='bx bx-plus'></i> <span>Assign Staff</span></a>
{% else %}
        <a href="#message_box" class="btn btn-success" data-toggle="modal"><i class='bx bx-plus'></i> <span>Send Request</span></a>
      {% endif %}
   

    </div> 
    <!-- <div class="col-md-2 mb-4">
        <a href="#message_box" class="btn btn-success" data-toggle="modal"><i class='bx bx-plus'></i> <span>Edit profile</span></a>
    </div>
    <div class="col-md-2 mb-4">
        <a href="#message_box" class="btn btn-success" data-toggle="modal"><i class='bx bx-plus'></i> <span>Edit profile</span></a>
    </div>
    <div class="col-md-2">
        <a href="#message_box" class="btn btn-success" data-toggle="modal"><i class='bx bx-plus'></i> <span>Edit profile</span></a>
    </div> -->
</div>
<br><hr>
        <!-- <div class="row">            
            <div class="col-md-12 ">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>User Id</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{task.id}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{user_details.first_name}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Email</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{user_details.email}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Phone</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{user_details.phone_number}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Service</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{task.service}}</p>
                            </div>

                            <div class="col-md-6">
                                <label>documents </label>
                            </div>
                            <div class="col-md-6">
                                {% for key,val in task.documents.items %}
                                <p>{{key|cut:"/"}} : <a href="val.url">{{val|cut:"/"}}</a></p>                                
                                {% endfor %}
                                {% comment %} <p><a href="{{task.documents.url}}">{{task.documents.keys|cut:"/"}}:{{task.documents.values|cut:"/"}}</a></p> {% endcomment %}
                            </div>

                            {% comment %} <div class="col-md-6">
                                <label>image</label>
                            </div>
                            <div class="col-md-6">
                                <p><a href={{task.image.url}} target="_blank">{{task.image}}</a></p>
                            </div> {% endcomment %}

                            <div class="col-md-6">
                                <label>payment</label>
                            </div>
                            {% if task.payment == True %}
                            <div class="col-md-6">
                                <p>Done</p>
                            </div>
                            {%else%}
                            <div class="col-md-6">
                                <p>Pending</p>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>  -->
    </div>


    <!--this modal for staff-->
    <div id="message_box" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">						
                <h4 class="modal-title">Select Saff</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              </div>
              <div class="modal-body">
                <form method="post" action="{% url 'send_message' id=task.id %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Select Name</label>
                        <select name="staff_name" id="staf">
                            {% for i in staff %}    
        
        
   {% if i.category == task.service.svcategory %}  
      
                      <option value="audi">{{i}}</option> 
                      {% endif %}
      {% endfor %} 
                          </select>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name='message' placeholder="write a reson for request"></textarea>
                    </div>
                  
                  {% comment %} {{ form.as_p }} {% endcomment %}
              </div>
              <div class="modal-footer">
                <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                <button type="submit" class="btn btn-success">Request</button>
              </div>
              </form>
            
          </div>
        </div>
      </div>

      <!--this modal for superuser-->
      <div class="modal fade" id="assignModal" tabindex="-1" role="dialog" aria-labelledby="assignModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title" id="assignModalLabel">Details</h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="card-body">
      
                <div class="row">
                  <div class="col-6 m-auto">
                    <h4 class="mb-2 text-center text-secondary">choose staff</h4>
                  </div>
                </div>
                <div class="row">
                    <div class="col-6 m-auto">
                      <form class="p-0 w-100" method="post" action="{% url 'select_task' id=task.id %}">
                        {% csrf_token %}
                     
                    <select name="staff" oninput="document.getElementById('assign_btn').disabled = false">
      
                      <option disabled selected>------select------</option>
      
      {% for i in staff %}    
        
        
   {% if i.category == task.service.svcategory %}  
      
                      <option value="{{i.id}}">{{i}}</option> 
                      {% endif %}
      {% endfor %} 
      
                    </select>
                  </div>
                </div>
             
              </div>
      
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-success" id="assign_btn" disabled onclick="msg()">Assigned</button>
            </div>
        </form>
          </div>
        </div>
      </div>
</div>
<br><br>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<style>
   .alertify-notifier.ajs-center .ajs-message.ajs-visible { color: #f6f7f8;  background-color: #242d6e;  border-color: #f4f7f9; }
</style>

      <script>

function btn_active(){
    document.getElementById("assign_btn").disabled = false
}



        function send(){
            alertify.set('notifier','position', 'top-center');
            alertify.success('Successfully Assigned');
        }


//         window.onload = function() {
       
//        // Check if the session variable is set
//        if ("{{ request.session.staff_assigned }}" === "True"){
            
//         Swal.fire({
//   title: "Successfully  Assigned",
//   text: "Sended the Mail User and Staff",
//   icon: "success",
//   confirmButtonText: 'OK',
//   customClass: {
//                         confirmButton: 'swal-button--confirm'
//                     }
//                 }).then(() => {
//                     // Redirect to the home page when the user clicks "OK"
//                     window.location.href = "{% url 'orders' %}";
//                 });
//        }
       
//     }

function msg(){
    Swal.fire({
  title: "Successfully  Assigned",
  text: "Sended the Mail User and Staff",
  icon: "success",
  confirmButtonText: 'OK',
  customClass: {
                        confirmButton: 'swal-button--confirm'
                    }
                }).then(() => {
                    // Redirect to the home page when the user clicks "OK"
                    window.location.href = "{% url 'orders' %}";
                });
}
      </script>

            
        </div>
    </div>   

  {% endblock content %}
    </section>






    
