{% extends "admin/main_app/main_layout.html" %}
    {% block content %}

    
{% comment %} <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> {% endcomment %}
<!-- Include the above in your HEAD tag -->

<div class="home-content">
    <div class="container-fluid">
        <div class="row col-md-12 text-center">            
            <div class="col-md-2">
                <a href="#message_box" class="btn btn-success" data-toggle="modal"><i class='bx bx-plus'></i> <span>Send Message</span></a>
                {% comment %} <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Send Message"/> {% endcomment %}
            </div> 
            <div class="col-md-2">
                <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>
            </div>
            <div class="col-md-2">
                <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>
            </div>
            <div class="col-md-2">
                <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>
            </div>
        </div>
        <br><hr>

        <div class="row">            
            <div class="col-md-12 ">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>User Id</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{task.id}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{user_details.first_name}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Email</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{user_details.email}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Phone</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{user_details.phone_number}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Service</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{task.service}}</p>
                            </div>

                            <div class="col-md-6">
                                <label>documents </label>
                            </div>
                            <div class="col-md-6">
                                {% for key,val in task.documents.items %}
                                <p>{{key|cut:"/"}} : <a href="val.url">{{val|cut:"/"}}</a></p>                                
                                {% endfor %}
                                {% comment %} <p><a href="{{task.documents.url}}">{{task.documents.keys|cut:"/"}}:{{task.documents.values|cut:"/"}}</a></p> {% endcomment %}
                            </div>

                            {% comment %} <div class="col-md-6">
                                <label>image</label>
                            </div>
                            <div class="col-md-6">
                                <p><a href={{task.image.url}} target="_blank">{{task.image}}</a></p>
                            </div> {% endcomment %}

                            <div class="col-md-6">
                                <label>payment</label>
                            </div>
                            {% if task.payment == True %}
                            <div class="col-md-6">
                                <p>Done</p>
                            </div>
                            {%else%}
                            <div class="col-md-6">
                                <p>Pending</p>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="message_box" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">						
                <h4 class="modal-title">send message</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              </div>
              <div class="modal-body">
                <form method="post" action="{% url 'country' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="{{user_details.email}}">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                  
                  {% comment %} {{ form.as_p }} {% endcomment %}
              </div>
              <div class="modal-footer">
                <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                <input type="submit" class="btn btn-success" value="Add">
              </div>
              </form>
            
          </div>
        </div>
      </div>
</div>
<br><br>

            
        </div>
    </div>   

  {% endblock content %}
    </section>






    
