{% extends "Agent/main_layout.html" %}

{% load static %}

{% block content %}




<style>

  body{
    height: 100vh;
  }
  
  #body_header
  {
  
      width:auto;
      margin:0px auto;
      text-align:center;
      font-size:25px;
     
  }
  form {
    max-width: 300px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
  }
  
  h1 {
    margin: 0 0 30px 0;
    text-align: center;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  textarea,
  select {
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: auto;
    outline: 0;
    padding: 8px;
    width: 100%;
    background-color: #e8eeef;
    color: black;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
  }
  
  input[type="radio"],
  input[type="checkbox"]
  
  {
    margin: 0 4px 8px 0;
  }
  
  select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
  }
  
  button {
    padding: 10px 10px 10px 10px;
    color: #FFF;
    background-color: #4bc970;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #3ac162;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
  }
  
  fieldset {
    margin-bottom: 30px;
    border: none;
  }
  
  legend {
    font-size: 1.4em;
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  label.light {
    font-weight: 300;
    display: inline;
  }
  
  .number {
    background-color: #5fcf80;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 100%;
  }
  
  
  
    form {
      max-width: 980px;
    }
  
  </style>  

<div class="home-content">
    <div class="container-fluid">
        <div id="body_header">
          <!--This is a division tag for body header-->
          <h1>Update Details</h1>
          
        </div>
    
  <!-- Bootstrap 4 Tabs -->
  <div class="container mt-4 bg-white mt-3 shadow" style="padding: 1rem;border-radius: 10px;">
    <ul class="nav nav-tabs w-100" id="myTabs">
      <li class="nav-item">
        <a class="nav-link active" id="tab1-tab" data-toggle="tab" href="#tab1">Agent(opc)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="tab2-tab" data-toggle="tab" href="#tab2">Company</a>
      </li>
      
    </ul>

    <div class="tab-content mt-2"  id="myTabContent">
      <div class="tab-pane fade show active" id="tab1">
        <h4 class="mt-3">Complete your Information (opc)</h4><br/>
        <div class="table-responsive">
       <!--opc-->

       <form action="{% url "agent_registration" %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <h5>&nbsp;&nbsp;1. Basic</h5>
            <div class="col-sm-4">First Name : <input type="text" name="first_name" /></div>
            <div class="col-sm-4">Last Name : <input type="text" name="last_name" /></div>
            <div class="col-sm-4">Phone : <input type="text" name="phone" /></div>
            <div class="col-sm-4">Email : <input type="text" name="email" /></div>
    
            {% comment %} <div class="col-sm-4">Gst No : <input type="text" name="gst_no" /></div> {% endcomment %}
            <div class="col-sm-4">Address : <input type="text" name="address" /></div>
            <div class="col-sm-4">Pincode : <input type="text" name="pincode" /></div>
            <hr>
            <h5>&nbsp;&nbsp;2. Bank Details</h5>
            <div class="col-sm-4">Account holder name : <input type="text" name="account_holder_name" /></div>
            <div class="col-sm-4">Account Number : <input type="text" name="account_number" /></div>
            <div class="col-sm-4">IFSC code : <input type="text" name="ifsc_code" /></div>
    
            <hr>
            <h5>&nbsp;&nbsp;3. Upload Documents</h5>
            <div class="col-sm-4 mb-4">User Photo (jpg/jpeg) : <input type="file" name='user_photo' /></div>
            <div class="col-sm-4 mb-4">Adhaar (pdf) : <input type="file" name='adhaar' /></div>
            <div class="col-sm-4 mb-4">Pancard (pdf) : <input type="file" name='pancard' /></div>
    
            <div class="col-sm-4 mb-4">Gst (pdf) : <input type="file" name='gst_certificate' /></div>
            <div class="col-sm-4 mb-4">License (pdf) : <input type="file" name='license' /></div>
    
            <div class="col-sm-4 mt-3"><button class="btn btn-success" type="submit">Submit</button></div>
        </div>
    </form>
    


      </div>
      </div>


      <div class="tab-pane fade" id="tab2">
        <h4 class="mt-3">Complete your Company  Information</h4>
        <div class="table-responsive">
        <!-- company -->
        <div class="row">
            <h5 class="mt-2">&nbsp;&nbsp;1 . Basic</h5>
            <div class="col-sm-4">Company Name : <input type="text" /></div>
            <div class="col-sm-4">Company Phone Number : <input type="text" /></div>
            <div class="col-sm-4">Company Email : <input type="text" /></div>
        
            <div class="col-sm-4">Gst No : <input type="text" /></div>
            <div class="col-sm-4">Address : <input type="text" /></div>
            <div class="col-sm-4">Pincode : <input type="text" /></div>
        <hr>
        <h5>&nbsp;&nbsp;2 . Bank Details</h5>
            <div class="col-sm-4">Account holder name : <input type="text" /></div>
            <div class="col-sm-4">Account Number : <input type="text" /></div>
            <div class="col-sm-4">IFSC code : <input type="text" /></div>
        
            <hr>
        <h5>&nbsp;&nbsp;3 . Upload Documents</h5>
            <div class="col-sm-4 mb-4">User Photo (jpg/jpeg) : <input type="file" /></div>
            <div class="col-sm-4 mb-4">Adhaar (pdf) : <input type="file" /></div>
            <div class="col-sm-4 mb-4">Pancard (pdf) : <input type="file" /></div>
            
           
            <div class="col-sm-4 mb-4">Gst (pdf) : <input type="file" /></div>
            <div class="col-sm-4 mb-4">License (pdf) : <input type="file" /></div>
        
        
            <div class="col-sm-4 mt-3"><button class="btn btn-success">Submit</button></div>
           
        
        </div>
        


        </div>
      </div>
    </div>
  </div>
    </div>
</div>   
{% endblock content %}
</section>