{% extends "Agent/main_layout.html" %}

    {% block content %}





      <div class="home-content">
    <body>
      <div class="container-fluid">
      
          <div class="table-wrapper">
              <div class="table-title">
                  <div class="row p-3">
                      <div class="col-sm-6">
              <h2>Agent <b>Home</b></h2>
            </div>
            <table class="table">
              <thead>
                <tr>
       <th>No.</th>
       <th>Service Name</th>
       <th>Payment</th>
       <th>Apply Date</th>
       <th>Complete Date</th>          
                </tr>
            </thead>
            <tbody>
           
  
            
                <tr>
                 
                    <td>1</td>
                    <td>service</td>
                    
                    <td>Success <i class='bx bx-check-shield text-success' style="font-size: 1rem;"></i> </td>
                    <!-- <td>{{val.msg}}</td> -->
                    <!-- <td>{{val.documents}}</td> -->
                    <!-- <td>{{val.taken_by}}</td> -->
                  
                    <td>created_at</td>
                    <td>-- -- ----</td>
                    
                    
                </tr>
              
                <tr>
                  </tbody>
            </table>
                  </div>
              </div>

   <!--loader-->

   <!-- <div class="loading-screen" id="loading-screen">
    <span class="loader"></span>
</div> -->
<!--end loader-->




<!--content-->
             
        
      </div>
  </body>
  </html>

  {% endblock content %}
    </section>






    
