{% extends "Agent/main_layout.html" %}

{% load static %}

{% block content %}




<style>

body{
  height: 100vh;
}

#body_header
{

    width:auto;
    margin:0px auto;
    text-align:center;
    font-size:20px;
   
}

h1 {
  margin: 0;
  text-align: center;
}


#myTabs a  {
  color: rgb(9, 160, 52);
  font-size: 14px;
}

#myTabContent h4{
color: rgb(8, 109, 196);
}

#myTabContent table{
  background-color: #f4f7f8;
  font-size: .8rem;
}

@media (max-width: 767.98px) {
  #myTabs a{
    font-size: 12px;
  }
}

@media (max-width:576px) {
  #myTabs a{
    font-size: 7px;
  }
  .cli_deta ,.applybtn ,.applybtn,.editbtn,.subopt{
    font-size: 12px;
  }


}

/* dropdown */
.oplabel{
  border-bottom: 1px solid black;
}


</style> 
<body onload="myFunction()">
<div class="home-content" >
    <div class="container-fluid">

      

        <div id="body_header">
          <!--This is a division tag for body header-->
          <h1>Client Details</h1>
          
        </div>
    

        <div class="alert alert-danger alert-dismissible fade show" role="alert" id="alred" style="display: none;">
          <strong>This service alredy applyed !</strong> You should check in on some of those fields below.
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
<!-- user details -->
<div class="container mt-4 cli_deta" style="padding: 1rem;border-radius: 10px;background-color: white;">

<div class="row">

    <div class="col-3"><p>Name  </p></div>:
 <div class="col-3"><p> {{user_info.first_name}}</p></div>

</div>

<div class="row">

    <div class="col-3"><p>Email   </p></div>:
 <div class="col-3"><p> {{user_info.email}}</p></div>

</div>

<div class="row">

    <div class="col-3"><p>Phone number   </p></div>:
 <div class="col-3"><p> {{user_info.phone_number}}</p></div></div>

 <button class="btn btn-primary editbtn" style="float: right;">Edit user</button><br>
  <!-- Bootstrap 4 Tabs --> 
  <div class="container mt-4" style="padding: 1rem;border-radius: 10px;background-color: #e8eeef;">
 
    <div class="tab-content mt-2"  id="myTabContent">
     
      <div class="tab-pane fade show active" id="tab1">
        <h4>All Services</h4>
    
      <div class="row">
      
        <label for="category" class="col-md-2 pt-2">Select a Service:</label>
        <div class="col-md-4 col-6">
          <!-- <select class="sel" id="category" name="category">
            {% for i in category %}
           
            <optgroup label="{{i.ctname}}" class="mt-2 oplabel">
             
              {% for j in i.srvc_set.all %}
            <option value="{{j.svname}}" class="subopt">{{j.svname}}</option>
            {% endfor %}
            {% endfor %}
          </select> -->
          <form action="" method="post" class="p-0">{% csrf_token %}
          <select class="form-select" aria-label="Default select example" name="sel_ser" id="sel" onchange="getService()">
            <option selected>Select service</option>
            {% for i in category %}
               <optgroup label="* {{i.ctname}}" class="oplabel">
                <hr>
            {% for j in i.srvc_set.all %}
            <option value="{{j.svid}}" class="subopt"> {{forloop.counter}}. {{j.svname}}</option>
           
            {% endfor %}
            {% endfor %}
          </select>
        </div>
        <div class="col-md-4 col-6">
          <button class="btn btn-success applybtn" style="float:left;" type="submit" id="apybtn" disabled>Apply Service</button>
        </div>
      </form>
      </div>
   
        <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
   <th>No.</th>
   <th>Name</th>
   <th>Service Name</th>
   <th>Payment</th>
   <th>Status</th>
   <th>Owned</th>
   <th>Apply Date</th>
   <th>Complete Date</th>          
            </tr>
        </thead>
        <tbody>
         
          {% for val in user_info.user_service_details_set.all %}

            <tr>
             
                <td>{{forloop.counter}}</td>
                <td>{{val.user_id.first_name}}  </td>
                <td>{{val.service}}</td>
                
                <td>{% if val.payment %} Success <i class='bx bx-check-shield text-success' style="font-size: 1rem;"></i>  {% else %} Pending <i class='bx bx-error-alt text-danger'></i>  {% endif %}</td>
                <!-- <td>{{val.msg}}</td> -->
                <!-- <td>{{val.documents}}</td> -->
                <!-- <td>{{val.taken_by}}</td>  <i class='bx bx-x-circle'>x</i> <i class='bx bxs-check-circle'></i>-->
                <td>{% if val.status == '0' %}Not Ready <i class='bx bx-x-circle text-danger'></i>{% elif val.status == '1'%}Process<i class='bx bx-loader text-warning'></i>{% else %}Complete<i class='bx bxs-check-circle text-success'></i>{% endif %}</td>
                <td>{% if val.agent_id == request.user %}Me{% else %}Others{% endif %}</td>
                <td>{{val.created_at}}</td>
                <td>-- -- ----</td>                
            </tr>
            {% endfor %}
              </tbody>
        </table>
      </div>
      </div>
    </div>
  </div>            
    </div>
</div>   

<script>

function getService(){
  var opt =document.getElementById("sel").value;
   if (isNaN(opt)){
    document.getElementById('apybtn').disabled = true;
   }
   else{
    document.getElementById('apybtn').disabled = false;
   }
}


  var err = "{{err}}";
  function myFunction() {
 if (err == 1){
  document.getElementById("alred").style.display = "block";
 }
 else{
  document.getElementById("alred").style.display = "none"
 }
}
</script>

{% endblock content %}
</section>

</body>