<!-- footer-area -->
{% load static %}
<footer>
    <div class="footer-area-two footer-bg-two" data-background="{% static 'assets/img/bg/h2_footer_bg.jpg' %}">
        <div class="footer-top-two">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-7">
                        <div class="footer-widget">
                            <div class="fw-logo">
                                <a href="index.html"><img src="{% static 'assets/img/logo/logo.png' %}" alt=""></a>
                            </div>
                            <div class="footer-content">
                                <p>IVBM [OPC] PVT LTD is one of the top business consultancy firms in Cochin, India. We embarked our journey with Multiple Portfolio Company Ltd. a consultancy firm located at Kingdom of Saudi Arabia, Dammam.</p>
                                <div class="footer-info">
                                    <ul class="list-wrap">
                                        <li>
                                            <div class="icon">
                                                <i class="flaticon-phone-call"></i>
                                            </div>
                                            <div class="content">
                                                <a href="tel:+9170129 86300">+91 70129 86300</a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <i class="flaticon-clock"></i>
                                            </div>
                                            <div class="content">
                                                <p>Mon – Sun: 9 am – 6 pm, <br> Friday: <span>CLOSED</span></p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-5 col-sm-6">
                        <div class="footer-widget">
                            <h4 class="fw-title">Menu</h4>
                            <div class="footer-link">
                                <ul class="list-wrap">
                                    <li><a href="about.html">About Company</a></li>
                                    <li><a href="#">Careers</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                    <li><a href="#">Our Blog</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Terms & Conditions</a></li>
                                    <li><a href="#">Refund Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-5 col-sm-6">
                        <div class="footer-widget">
                            <h4 class="fw-title">Our Services</h4>
                            <div class="footer-link">
                                <ul class="list-wrap">
                                    <li><a href="contact.html">IT Services</a></li>
                                    <li><a href="contact.html">Web Applications</a></li>
                                    <li><a href="contact.html">HR Solutions</a></li>
                                    <li><a href="contact.html">Accounting Services</a></li>
                                    <li><a href="contact.html">Tax Consulting</a></li>
                                    <li><a href="contact.html">Business Consulting</a></li>
                                    <li><a href="contact.html">Digital Services</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-7">
                        <div class="footer-widget">
                            <h4 class="fw-title">Our Newsletter</h4>
                            <div class="footer-newsletter">
                                <p>Sign up to Privitar’s weekly newsletter to get the latest updates.</p>
                                <form action="#">
                                    <input type="email" placeholder="enter your e-mail">
                                    <button type="submit">Subscribe</button>
                                </form>
                                <div class="footer-social footer-social-two">
                                    <ul class="list-wrap">
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom-two">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="copyright-text-two text-center">
                            <p>Copyright 2023 © ivbmcs | All Right Reserved</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer-area-end -->