{% extends "User/user_dashboard/main_layout.html" %}

{% load static %}

{% block content %}
{% comment %} <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous"> {% endcomment %}
<style>

body{
  height: 100vh;
}

#body_header
{

    width:auto;
    margin:0px auto;
    text-align:center;
    font-size:25px;
   
}
form {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: auto;
  outline: 0;
  padding: 8px;
  width: 100%;
  background-color: #e8eeef;
  color: black;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"]

{
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button {
  padding: 10px 10px 10px 10px;
  color: #FFF;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: #5fcf80;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}



  form {
    max-width: 980px;
  }

</style> 

<div class="home-content">
    <div class="container-fluid">
        <div id="body_header">
          <!--This is a division tag for body header-->
          <h1>Appointment Request Form</h1>
          <p>Make your appointments more easier</p>          
        </div>
        {% if details %}
        <form action="{% url 'booking' %}" method="post">
              {% csrf_token %}
              <fieldset>
                  <legend><span class="number">1</span>Your basic details</legend>
                  <label for="name">Name*:</label>
                  <input type="text" id="name" name="name" placeholder="Name" value = "{{request.name}}" required>
          
                  <label for="mail">Email*:</label>
                  <input type="email" id="mail" name="email" value = "{{request.user.email}}" placeholder="abc@xyz.com" {% if details.email %} readonly {% endif %} required>
          
                  <label for="tel">Phone Number:</label>
                  <input type="tel" id="tel" placeholder="Include country code" name="num" value = "{{request.user.phone_number}}" required>
          
                  {% comment %} <label for="skype_name">Skype username:</label>
                  <input type="text" id="skype_name" name="skype_name" placeholder="@atchyutn" pattern="[a-zA-Z0-9]+"> {% endcomment %}
          
          
              </fieldset>

              <fieldset>
                  <legend><span class="number">2</span>Appointment Details</legend>
                  <label for="exampleInputPassword1">Appointment for*</label>
                  <input   class="form-control" readonly name="ser" id="serviceType" value="{{value}}" required>


                  {% comment %} <label for="appointment_for">Appointment for*:</label>
                  <select id="appointment_for" name="ser" required>
                      <option value="{{value}}">{{value}}</option>
                      <option value="meeting">Meeting</option>
                      <option value="Business">Business</option>
                      <option value="lunch">Lunch</option>
                      <option value="skype">Skype</option>
                      <option value="movie">Movie</option>
                      <option value="couple_date">Date</option> {% endcomment %}
                  </select>
                  <label for="appointment_description">Appointment Description:</label>
                  <textarea id="appointment_description" name="msg" placeholder="I wish to get an appointment to skype for resolving a software problem."></textarea>
                  {% comment %} <label for="date">Date*:</label>
                  <input type="date" name="date" value="" required></input>
                  <br>
                  <label for="time">Time*:</label>
                  <input type="time" name="time" value="" required></input>
                  <br>
                  <label for="duration">How Long??(Minutes)</label>
                  <input type="radio" name="duration" value="30" checked> 30
                  <input type="radio" name="duration" value="60"> 60
                  <input type="radio" name="duration" value="90"> 90
                  <input type="radio" name="duration" value="more"> more {% endcomment %}
              </fieldset>
              <button type="submit">Request For Appointment</button>
        </form>     
        {% else %}

      <form action="{% url 'booking' %}" method="post">
          {% csrf_token %}
          <fieldset>
              <legend><span class="number">1</span>Your basic details</legend>
              <label for="name">Name*:</label>
              <input type="text" id="name" name="name" placeholder="Name"  required>
      
              <label for="mail">Email*:</label>
              <input type="email" id="mail" name="email"  placeholder="abc@xyz.com"  value = "{{request.user.email}}" {% if request.user.email %} readonly {% endif %} required>
      
              <label for="tel">Phone Number:</label>
              <input type="tel" id="tel" placeholder="Include country code" name="num" required>
      
              {% comment %} <label for="skype_name">Skype username:</label>
              <input type="text" id="skype_name" name="skype_name" placeholder="@atchyutn" pattern="[a-zA-Z0-9]+"> {% endcomment %}
      
      
          </fieldset>

          <fieldset>
              <legend><span class="number">2</span>Appointment Details</legend>
              <label for="exampleInputPassword1">Appointment for*</label>
              <input   class="form-control" readonly name="ser" id="serviceType" value="{{value}}" required>
              {% comment %} <label for="appointment_for">Appointment for*:</label>
              <select id="appointment_for" name="ser" required>
                  <option value="{{value}}">{{value}}</option>
                  <option value="meeting">Meeting</option>
                  <option value="Business">Business</option>
                  <option value="lunch">Lunch</option>
                  <option value="skype">Skype</option>
                  <option value="movie">Movie</option>
                  <option value="couple_date">Date</option> {% endcomment %}
              </select>
              <label for="appointment_description">Appointment Description:</label>
              <textarea id="appointment_description" name="msg" placeholder="I wish to get an appointment to skype for resolving a software problem."></textarea>
              {% comment %} <label for="date">Date*:</label>
              <input type="date" name="date" value="" required></input>
              <br>
              <label for="time">Time*:</label>
              <input type="time" name="time" value="" required></input>
              <br>
              <label for="duration">How Long??(Minutes)</label>
              <input type="radio" name="duration" value="30" checked> 30
              <input type="radio" name="duration" value="60"> 60
              <input type="radio" name="duration" value="90"> 90
              <input type="radio" name="duration" value="more"> more {% endcomment %}
          </fieldset>
          <button type="submit">Request For Appointment</button>
    </form>   

        
        {% endif %}
    </div>
</div>   
{% endblock content %}
</section>