<!DOCTYPE html>
<!-- Website - www.codingnepalweb.com -->
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <title>Dashboard</title>
    

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  </head>
  <body>
    <!--sidebar-->
    {% include "nav/sidebar.html" %} 
    
    <section class="home-section">
      <nav>
        <div class="sidebar-button">
          <i class="bx bx-menu sidebarBtn"></i>
          <span class="dashboard">Dashboard</span>
        </div>
        <div class="search-box">
          <input type="text" placeholder="Search..." />
          <i class="bx bx-search"></i>
        </div>
        <div class="profile-details">
          <a class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
           
          
          <img src="https://www.pngitem.com/pimgs/m/516-5167304_transparent-background-white-user-icon-png-png-download.png" alt="" />
          <span class="admin_name">demo user</span>
          
         
          </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Profile</a>
          <a class="dropdown-item" href="#">Update</a>
          <hr>
          <a class="dropdown-item" href="#">Logout</a>
        </div>
        </div>
      </nav>

      <div class="home-content">
       
        <form action="https://asprid.in/demos/ivbmcs/admpanel/svcntry.php" method="post" class="mb-3">
            <h1><font color="gray">Country</font></h1><br>
            {{ form.as_p }}
                <input type="submit" value="Submit">
            </form>

        <div class="sales-boxes">
          <div class="recent-sales box">
            <div class="title text-center"><h3 class=" font-weight-bold">Records</h3></div>
         <!--  <div class="button mb-3">
              <a href="#">Add User</a>
            </div>--> 
            <table class="m-auto">
                <thead>
                    <tr>
                        <th>Country</th>
                        <th>Description</th>
                        <th>Currency</th>
                        <th>Tax</th>
                        <th>Created By</th>
                        <th>Created On</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td>India</td><td></td><td>INR</td><td>GST</td><td>1</td><td>2023-11-23 04:00:07</td><td>
                            <i class="fa fa-edit text-info"></i> | 
                                <i class="fa fa-trash text-danger"></i>
                              </td>        </tr></tbody>
            </table>
           
          </div>
          <div class="top-sales box">
            <div class="title">More...</div>
          
          </div>
        </div>
      </div>
    
    </section>
   

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
