
{% extends "main_layout.html" %}<!DOCTYPE html>


      {% block content %}
      <div class="home-content">
       
        <form action="https://asprid.in/demos/ivbmcs/admpanel/svcntry.php" method="post" class="mb-3">
            <h1><font color="gray">Country</font></h1><br>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required=""><br>
                
                <label for="desc">Description:</label>
                <input type="text" id="desc" name="desc"><br>
                
                <label for="curnc">Currency:</label>
                <select id="curnc" name="curnc">
                        <option value="2">Dollar</option><option value="1">INR</option>        <!-- Add more options as needed -->
                </select><br>
                <label for="curnc">Tax:</label>
                <select id="curnc" name="curnc">
                        <option value="0">None</option><option value="1">GST</option><option value="2">VAT 5%</option><option value="3">VAT 10%</option><option value="4">VAT 15%</option>        <!-- Add more options as needed -->
                </select><br>
            
                <label for="status">Status:</label>
                <input type="checkbox" id="status" name="status"> Active<br>
            
                <input type="submit" value="Submit">
            </form>

        <div class="sales-boxes">
          <div class="recent-sales box">
            <div class="title text-center"><h3 class=" font-weight-bold">Records</h3></div>
         <!--  <div class="button mb-3">
              <a href="#">Add User</a>
            </div>--> 
            <table class="m-auto">
                <thead>
                    <tr>
                        <th>Country</th>
                        <th>Description</th>
                        <th>Currency</th>
                        <th>Tax</th>
                        <th>Created By</th>
                        <th>Created On</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td>India</td><td></td><td>INR</td><td>GST</td><td>1</td><td>2023-11-23 04:00:07</td><td>
                            <i class="fa fa-edit text-info"></i> | 
                                <i class="fa fa-trash text-danger"></i>
                              </td>        </tr></tbody>
            </table>
           
          </div>
          <div class="top-sales box">
            <div class="title">More...</div>
          
          </div>
        </div>
      </div>

      {% endblock content %}
    
    </section>
   
