<!DOCTYPE html>
<!-- Website - www.codingnepalweb.com -->
<html lang="en" dir="ltr">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  </head>
  <body>
    <!--sidebar-->
    {% include "nav/sidebar.html" %} 

    <section class="home-section">
      <nav>
        <div class="sidebar-button">
          <i class="bx bx-menu sidebarBtn"></i>
          <span class="dashboard">Dashboard</span>
        </div>
        <div class="search-box">
          <input type="text" placeholder="Search..." />
          <i class="bx bx-search"></i>
        </div>
        <div class="profile-details">
          <a class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
           
          
          <img src="https://www.pngitem.com/pimgs/m/516-5167304_transparent-background-white-user-icon-png-png-download.png" alt="" />
          <span class="admin_name">demo user</span>
          
         
          </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Profile</a>
          <a class="dropdown-item" href="#">Update</a>
          <hr>
          <a class="dropdown-item" href="#">Logout</a>
        </div>
        </div>
      </nav>

      <div class="home-content">
       
        <form action="https://asprid.in/demos/ivbmcs/admpanel/svcntry.php" method="post" class="mb-3">
            <h1><font color="gray">Services</font></h1><br>
            {{ form.as_p }}
            <!-- <label for="name">Code:</label>
            <input type="text" id="code" name="code" required=""><br>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required=""><br>
            
            <label for="desc">Description:</label>
            <input type="text" id="desc" name="desc"><br>
            
            <label for="ctgry">Category:</label>
            <select id="ctgry" name="ctgry" required="">
                    <option value="1">Accounting</option>      
            </select><br>
           <label for="cntry">Country:</label>
            <select id="cntry" name="cntry" onchange="ldtx();" required="">
             <option value="0">Select</option>
                    <option value="1">India</option>      
            </select><br>
            <label for="rate">Rate:</label>
            <input type="text" id="rate" name="rate"><br>
                <label for="rate">Rate Split Up:</label>
            <input type="text" id="ratespltup" name="ratespltup"><br>
            <label for="svchg">Service Chg:</label>
            <input type="text" id="svchg" name="svchg"><br>
            <label for="discrt">Disc Rate:</label>
            <input type="text" id="discrt" name="discrt"><br>	
            <label for="discamt">Disc Amt:</label>
            <input type="text" id="discamt" name="discamt"><br>
            <label for="disctxt">Disc Text:</label>
            <input type="text" id="disctxt" name="disctxt"><br>
            <label for="discrt">Agency Commsn. Rate:</label>
            <input type="text" id="agntrt" name="agntrt"><br>	
            <label for="discamt">Agent Commsn. Amt:</label>
            <input type="text" id="agntamt" name="agntamt"><br>	
       
            <label for="txrt">Tax Rate:</label>
            <input type="text" id="txrt" name="txrt"><br>	
            <label for="txamt">Tax Amt:</label>
            <input type="text" id="txamt" name="txamt"><br>
            <label for="netamt">Net Amt:</label>
            <input type="text" id="netamt" name="netamt"><br>		
            <label for="status">Status:</label>
            <input type="checkbox" id="status" name="status"> Active<br> -->
        
            <input type="submit" value="Submit">
            </form>

        <div class="sales-boxes">
          <div class="recent-sales box">
            <div class="title text-center"><h3 class=" font-weight-bold">Records</h3></div>
         <!--  <div class="button mb-3">
              <a href="#">Add User</a>
            </div>--> 
            <div class="inner-table-container">
                <table>
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Service</th>
                        <th>Description</th>
                        <th>Category</th>
                        <th>Country</th>
                        <th>Rate</th>
                        <th>Rate Split Up</th>
                        <th>Service Chg</th>
                        <th>Disc Rate</th>
                        <th>Disc Amt</th>
                        <th>Disc Text</th>
                        <th>Agent Commsn. Rate</th>
                        <th>Agent Commsn. Amt</th>
                        <th>Tax Type</th>					
                        <th>Tax Rate</th>				
                        <th>Tax Amt</th>
                        <th>Net Rate</th>
                        <th>Created By</th>
                        <th>Created On</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td>PN!</td><td>PAN Card</td><td>To Apply for PAN Card</td><td>Accounting</td><td>India</td><td>250.000</td><td></td><td>50.000</td><td>0.00</td><td>0.000</td><td>0</td><td>0.00</td><td>0.000</td><td></td><td>18.00</td><td>0.000</td><td>309.000</td><td>1</td><td>2023-11-24 18:22:34</td><td>
                        <i class="fa fa-edit text-info"></i> | 
                        <i class="fa fa-trash text-danger"></i>
                              </td></tr>        </tbody>
            </table>
        </div>
        </div>
           
          </div>
          <div class="top-sales box">
            <div class="title">More...</div>
          
          </div>
        </div>
      </div>
    
    </section>
   

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
