{% extends "admin/main_app/main_layout.html" %}

{% block content %}

  <html>
    <body>
        <div class="home-content">
          <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        
          <ul class="messages">
            {% for message in messages %}
                <li id="myDiv" {% if message.tags %} class="{{ message.tags }}"{% endif %}><div class="row m-auto w-25" style="position: absolute;height: 3rem;padding-top: 1rem;padding-left: 3rem;left: 26rem;background-color: rgba(10, 230, 10, 0.498);"><b>SuccessFully Added</b></div></li>
            {% endfor %}
          </ul>

          <!--loader-->

          <div class="loading-screen" id="loading-screen">
            <span class="loader"></span>
          </div>
          <!--end loader-->

          <!--<div class="row m-auto bg-success w-25" style="position: absolute;height: 3rem;padding-top: 1rem;padding-left: 3rem;left: 26rem;"><b>SuccessFully Added</b></div>-->
          <div class="container-fluid" style="height: 100vh;">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-4">
                          <h2>Order <b>Details</b></h2>
                        </div>
                    </div>
                </div>
                {% if order_info|length != 0 %}
                  <div id="table-container" style="overflow:auto;">
                    <table class="table table-striped table-hover">
                        <thead>
                          <tr>
                            <th>
                              <span class="custom-checkbox">
                                <input type="checkbox" id="selectAll">
                                <label for="selectAll"></label>
                              </span>
                            </th>
                            {% for field in field_names %}
                              <th>{{field}}</th>
                            {% endfor %}
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for val in order_info %}
                            <tr>
                              <td>
                                <span class="custom-checkbox-{{forloop.counter}}">
                                  <input type="checkbox" id="checkbox1" name="options[]" value="1">
                                  <label for="checkbox1"></label>
                                </span>
                              </td>
                                <td>{{forloop.counter}}</td>
                                <td><a href="{% url "task_detail" id=val.id %}">{{val.name}}</a></td>
                                <td>{{val.phone_number}}</td>
                                <td>{{val.email}}</td>
                                <td>{{val.service}}</td>
                                <td>{{val.document}}</td>
                                <td><a href="{{val.image.url}}"><img src="{{ val.image.url }}" alt="{{ val.name }}" width="50" height="50"></a></td>
                                <td>{{val.payment}}</td>
                                <td>{{val.taken_by}}</td> 
                                <td>{{val.status}}</td>
                                <td>{{val.created_at}}</td>

                                <td>                          
                                  {%if forloop.first%}
                                    <a href="{% url "select_task" id=val.id %}" ><i  class='btn btn-success' class="material-icons " data-toggle="tooltip" title="Edit">Select</i></a>
                                  {% endif %}
                                </td>
                            </tr>
                          {% endfor %}

                        </tbody>
                      </table>
                  </div>
            
                  <div class="clearfix">
                    <div class="hint-text">Showing <b>{{order_info.number}}</b> out of <b>{{order_info.paginator.num_pages}}</b> entries</div>
                    <ul class="pagination">
                      {% if order_info.has_previous %}
                        <li class="page-item"><a class="page-link" href="{% url 'orders' %}?page={{order_info.previous_page_number}}">Previous</a></li>
                      {% endif %}
                
                      {% for i in order_info.paginator.page_range %}
                        {% if order_info.number == i %}
                          <li class="page-item active"><a class="page-link" id="pa" href="{% url 'orders' %}?page={{i}}">{{i}}</a></li>
                        {% else %}
                          <li class="page-item "><a class="page-link" href="{% url 'orders' %}?page={{i}}">{{i}}</a></li>
                        {% endif %}
                      {% endfor %}

                      {% if order_info.has_next %}
                        <li class="page-item"><a class="page-link" href="{% url 'orders' %}?page={{order_info.next_page_number}}">Next</a></li>
                      {% endif %}
                    </ul>
                  </div>
                {% else%}
                  <h3 class="text-danger text-center mt-5">No Records Found</h3>
                {% endif %}
            </div>
        </div>
      </div>
        

      
      
    </body>
  </html>
 
  {% endblock content %}
    








  
   



    


