{% extends "admin/main_app/main_layout.html" %}

    {% block content %}

      
    <body>
      <div class="home-content">
      
    

  

 <!--loader-->

 <div class="loading-screen" id="loading-screen">
  <span class="loader"></span>
</div>
<!--end loader-->
      <!--<div class="row m-auto bg-success w-25" style="position: absolute;height: 3rem;padding-top: 1rem;padding-left: 3rem;left: 26rem;"><b>SuccessFully Added</b></div>-->
      <div class="container-fluid" style="height: 100vh;">
          <div class="table-wrapper">
              <div class="table-title">
                  <div class="row">
                      <div class="col-sm-6">
              <h2>Total <b>Order</b></h2>
            </div>
            <div class="col-sm-6 px-5">
              <form action="{% url 'total_ord' %}" method="post">
                {% csrf_token %}
              <input type="radio" name="opt" value="all" {% if sel == 'all' %} checked {% endif %}><span>All</span>
              <input type="radio" name="opt" value="accept" {% if sel == 'acc' %} checked {% endif %}><span>Accepted</span>
              <input type="radio" name="opt" value="pending" {% if sel == 'pen' %} checked {% endif %}><span>Pending</span>
              <button class="btn btn-primary ml-3" type="submit">Show</button>
            </form>

           <!--  <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i class='bx bxs-user-check'></i> <span>Accepted <sup>{{acc}}</sup></span></a>
              <a href="#deleteEmployeeModal" class="btn btn-danger ml-2"  data-toggle="modal"><i class='bx bxs-error-circle'></i><span class="text-white">Pending <sup>{{cou}}</sup></span></a>			-->			
            </div>
           
                  </div>
              </div>
              {% if total_info|length != 0 %}
              <div id="table-container" style="overflow:auto;">
              <table class="table table-striped table-hover">
                  <thead>
                      <tr>
             
              {% for field in field_names %}
                          <th>{{field}}</th>
                          {% endfor %}
                          <th>Status</th>
                      </tr>
                  </thead>
                  <tbody>
                    {% for val in total_info %}
                    {% if val.taken_by == '' %}
                      <tr>
                          
                          <td>{{forloop.counter}}</td>
                          <td><a href="{% url "task_detail" id=val.id %}">{{val.name}}</a></td>
                          <td>{{val.phone_number}}</td>
                          <td>{{val.email}}</td>
                          <td>{{val.service}}</td>
                          <td>{{val.payment}}</td>
                          <td>{{val.taken_by}}</td> 
                          <td>{{val.created_at}}</td>   
                          <td>
                            {% comment %}  {%if forloop.first%}
                            <a href="{% url "select_task" id=val.id %}" ><i  class='btn btn-success' class="material-icons " data-toggle="tooltip" title="Edit">Select</i></a>
                            {% endif %}  {% endcomment %}

                            <p class="text-danger">Pending</p>
                        </td>
                      </tr>
                      {% else%} 
                      <tr>
                          
                        <td>{{forloop.counter}}</td>
                        <td><a href="{% url "task_detail" id=val.id %}">{{val.name}}</a></td>
                        <td>{{val.phone_number}}</td>
                        <td>{{val.email}}</td>
                     <td>{{val.service}}</td> 
                       
                        <td>{{val.payment}}</td>
                        <td>{{val.taken_by}}</td>
                        <td>{{val.created_at}}</td>   
                        <td>
                            {% comment %}  {%if forloop.first%}
                            <a href="{% url "select_task" id=val.id %}" ><i  class='btn btn-success' class="material-icons " data-toggle="tooltip" title="Edit">Select</i></a>
                            {% endif %}  {% endcomment %}
                            <p class="text-success">Accepted</p>
                      </td>
                    </tr>

                      {% endif %}
                      {% endfor %}
                      <tr>
                  </tbody>
              </table>
            </div>
          
            <div class="clearfix">
              <div class="hint-text">Showing <b>{{total_info.number}}</b> out of <b>{{total_info.paginator.num_pages}}</b> entries</div>
              <ul class="pagination">
                {% if total_info.has_previous %}
                  <li class="page-item"><a class="page-link" href="{% url 'total_ord' %}?page={{total_info.previous_page_number}}">Previous</a></li>
                    {% endif %}
          
                    {% for i in total_info.paginator.page_range %}
                    {% if total_info.number == i %}

                  <li class="page-item active"><a class="page-link" id="pa" href="{% url 'total_ord' %}?page={{i}}">{{i}}</a></li>
                  {% else %}
                  <li class="page-item "><a class="page-link" href="{% url 'total_ord' %}?page={{i}}">{{i}}</a></li>
                    {% endif %}
                    {% endfor %}

                  {% if total_info.has_next %}
                  <li class="page-item"><a class="page-link" href="{% url 'total_ord' %}?page={{total_info.next_page_number}}">Next</a></li>
                  {% endif %}
              </ul>
          </div>
          {% else%}
            
          <h3 class="text-danger text-center mt-5">No Records Found</h3>
          {% endif %}
          </div>
      </div>
     
      <script>
        function simulatePageLoad() {
        document.getElementById('loading-screen').style.display = '';

        // Simulating a 3-second delay (you can adjust this value)
        setTimeout(function () {
            document.getElementById('loading-screen').style.display = 'none';
        }, 1000);
    }

    // Call the function to simulate page load
    simulatePageLoad();


    function sndload(){
      simulatePageLoad();
    }
    </script>
     </body>
    </html>
 
  {% endblock content %}
    








  
   



    


