{% load static %}
<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>IVBM Consulting and Software Services | IT Services, Accounting, Auditing, Finance and  Legal | Leading IT Company in Ernakulam</title>
        <meta content="IVBM Consulting and Software Services | IT Services, Accounting, Auditing, Finance and  Legal | Leading IT Company in Ernakulam" name="title">
        <meta content="A web and software, accounting, and legal company is a multifaceted organization offering comprehensive solutions. They specialize in creating websites and software applications, ensuring digital presence and efficiency. Additionally, they provide accounting services, managing financial records, tax compliance, and financial planning. Moreover, they offer legal counsel, guiding clients through various legal matters. This company combines technology, financial expertise, and legal knowledge to meet the diverse needs of businesses and individuals." name="description">
        <meta content="Web Design, Software Development, Accounting Services, Legal Consultation, Financial Planning, Tax Compliance, Legal Advice, Digital Presence, Business solutions, Law Firm, IT Company Ernakulam, Leading IT Company Kerala, IT Services, HRM Software, easytohrm, vb accounts" name="keywords">
        <meta name = "author" content = "Mindbare IT Solutions LLP" />
        <meta property="og:title" content="IVBM Consulting and Software Services | IT Services, Accounting, Auditing, Finance and  Legal | Leading IT Company in Ernakulam" />
        <meta property="og:description" content="A web and software, accounting, and legal company is a multifaceted organization offering comprehensive solutions. They specialize in creating websites and software applications, ensuring digital presence and efficiency. Additionally, they provide accounting services, managing financial records, tax compliance, and financial planning. Moreover, they offer legal counsel, guiding clients through various legal matters. This company combines technology, financial expertise, and legal knowledge to meet the diverse needs of businesses and individuals." />
        <meta property="og:image" content="https://ivbmcs.com/{% static 'assets/img/logo/logo.png' %}" alt="Logo" />
        <meta property="og:url" content="https://ivbmcs.com" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        

		<link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.png' %}">
        <!-- Place favicon.ico in the root directory -->

        <!-- CSS here -->
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/odometer.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/jarallax.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/swiper-bundle.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/aos.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/default.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/service_dropdown.css' %}">
    </head>
    <body>


         

		<!-- Scroll-top -->
        {% include "User/features/scroll_top.html" %}
        <!-- Scroll-top-end-->

        <!-- header-area -->
        {% include "User/features/header.html" %}
        <!-- header-area-end -->


        <!-- main-area -->
        {% block content %}

        {% include "User/home.html" %}
        
        {% endblock content %}
        
        <!-- main-area-end -->


        <!-- footer-area -->
        {% include "User/features/footer.html" %}
        <!-- footer-area-end -->


        <!-- JS here -->
        <script src="{% static 'assets/js/vendor/jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.odometer.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.appear.js' %}"></script>
        <script src="{% static 'assets/js/gsap.js' %}"></script>
        <script src="{% static 'assets/js/ScrollTrigger.js' %}"></script>
        <script src="{% static 'assets/js/SplitText.js' %}"></script>
        <script src="{% static 'assets/js/gsap-animation.js' %}"></script>
        <script src="{% static 'assets/js/jarallax.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.parallaxScroll.min.js' %}"></script>
        <script src="{% static 'assets/js/particles.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.easypiechart.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.inview.min.js' %}"></script>
        <script src="{% static 'assets/js/swiper-bundle.min.js' %}"></script>
        <script src="{% static 'assets/js/slick.min.js' %}"></script>
        <script src="{% static 'assets/js/ajax-form.js' %}"></script>
        <script src="{% static 'assets/js/aos.js' %}"></script>
        <script src="{% static 'assets/js/wow.min.js' %}"></script>
        <script src="{% static 'assets/js/main.js' %}"></script>
    </body>
</html>
