<section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class="bx bx-menu sidebarBtn  d-xl-none"></i>
        <span class="dashboard">Dashboard</span>
      </div>
      <div class="search-box">
        <input type="text" placeholder="Search..." />
        <i class="bx bx-search"></i>
      </div>
      <div class="profile-details">
        <a class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
         
        
        <img src="https://www.pngitem.com/pimgs/m/516-5167304_transparent-background-white-user-icon-png-png-download.png" alt="" />
        <span class="admin_name">{{request.user}}</span>
        
       
        </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Profile</a>
        <a class="dropdown-item" href="#">Update</a>
        <hr>
        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
      </div>
      </div>
    </nav>